:root {
    --white: #eff0f3;
    --black: #393939;
    --primary: #ff8906;
    --grey: #535353;
    --bg: #1f1f1f;
    --gradient: linear-gradient(0deg, #536976 0%, #292e49 100%);
    --subtitle2: 600 0.75rem / normal Nunito;
    --headline-headline1: extrabold 1.5rem / normal Nunito;
    --headline-headline2: 700 1.125rem / normal Nunito;
    --subtitle-subtitle1: 600 1.125rem / normal Nunito;
    --body1-regular: 400 1rem/1.5rem Nunito;
    --body1-bold: 700 1rem/1.5rem Nunito;
    --body2-regular: 400 0.75rem / normal Nunito;
    --body2-bold: 700 0.75rem / normal Nunito;
    --button-button: 600 0.875rem/1rem Nunito;
    --caption-caption: 400 0.6875rem / normal Nunito;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito;
}
body {
    color: var(--primary);
    font: var(--body1-regular);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

main {
    display: flex;
    justify-content: center;
}
.container {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/soleado.jpg);
    background-size: cover;
    background-position: center;
    color: var(--white);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 16px;
}
.container__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    background: var(--gradient);
    width: 235px;
    height: 91px;
    /* margin-bottom: 16px; */
    border-radius: 8px;
    padding: 20px 16px;
    text-align: center;
    transition: all 0.5s;
}
.swap-card {
    transform: translateY(-284px);
}
.container__card--left {
    /* border: 1px solid red; */
    width: 69px;
}

.container__card--left p {
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 42px;
}

.container__card--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    /* height: 42px; */
    width: 100px;
}
.container__card--right p {
    font: var(--caption-caption);
    text-align: center;
}
.container__card--right p img {
    width: 15px;
    color: white;
}

.swap {
    width: 100vw;
    height: 284px;
    background-color: var(--bg);
    border-radius: 16px 16px 0px 0px;
    visibility: hidden;
    padding-top: 12px;
    transition: all 0.5s;
}

.swap-top {
    visibility: visible;
    transform: translateY(-284px);
}
.bar {
    height: 4px;
    width: 64px;
    background-color: var(--grey);
    /* border: 1px solid blue; */
    margin: 0 auto 0 auto;
    border-radius: 5px;
}
.swap__days {
    /* border: solid 1px red; */
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.swap__days ul {
    display: flex;
    gap: 22px;
    list-style: none;
    margin-left: 14px;
    color: var(--white);
}
.swap__days ul a {
    text-decoration: none;
    color: white;
}

.swap__hours {
    height: 144px;
    /* border: solid 1px blue; */

    white-space: nowrap;
    overflow: auto;
}

.swap__hours--individual {
    width: 65px;
    height: 112px;
    background: var(--black);
    border-radius: 58px;
    display: inline-block;
    margin-left: 14px;
    align-items: center;
    position: relative;
}

.individual__in {
    width: 65px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 16px 0px;
    /* margin-top: 16px ; */
    justify-content: space-between;
    color: var(--white);
}

.swap__temp,
.swap__wind {
    height: 40px;
    /* border: solid 1px white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 16px;
    color: var(--white);
    text-align: center;
}

p > span {
    font-weight: bold;
}
